Dunkbin_cosmetics_repo_update_workflow.json
{
  "name": "Dunkbin cosmetics repo update workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        2020,
        160
      ],
      "id": "429ab6e9-3509-48a0-aa32-3477c8f61f81"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"animatedCosmetic\"]}}"
            }
          ]
        }
      },
      "name": "Is the cosmetic's image static (one frame)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4780,
        400
      ],
      "id": "c10b6539-1f82-4fe4-9236-549a5f635f4a"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sudo cp /home/pi/pngsonly/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png /home/pi/dunkbin/cosmetics/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png"
      },
      "name": "Copy PNG without altering",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5200,
        300
      ],
      "id": "8cf013e0-b1aa-4caa-bb6a-f161e277c30e"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sudo mkdir /home/pi/dunkbin/gifs/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}} && sudo convert /home/pi/dunkbin/cosmetics/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png -crop 210x210 +adjoin +repage -loop 0 -delay {{$node[\"One image at a time - to not hit API limits\"].json[\"delay\"]}} /home/pi/dunkbin/gifs/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}/1.png"
      },
      "name": "save png frames",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5200,
        520
      ],
      "id": "7b22118a-6448-41cb-9923-c788c40464b9"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "url": "https://dunkbin.com/export/cosmetics",
        "options": {
          "splitIntoItems": true
        },
        "queryParametersUi": {
          "parameter": [
            {}
          ]
        }
      },
      "name": "Consume Cosmetics API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2440,
        440
      ],
      "id": "8dfb904d-94a2-4b08-be4b-5fa04591d851",
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "dunkbin"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 7,
              "minute": 30
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        2020,
        440
      ],
      "id": "29377de7-dc72-431c-a932-f99092dd225d"
    },
    {
      "parameters": {
        "command": "cd ~/ && sudo sh ./remove_directories.sh && cd /home/pi/git/dunkbin-stats-images && git pull"
      },
      "name": "Run .sh scripts to cleanup PNG directory and make final dir",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2220,
        440
      ],
      "id": "256ae38c-0178-47af-9fca-f4fd610fd086"
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "name": "Sort cosmetics by id from newest to oldest",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2620,
        440
      ],
      "id": "4e8f69f7-5d93-4581-b865-6bacd3825e26"
    },
    {
      "parameters": {
        "functionCode": "if (Object.keys(items[0].json).length === 0) {\n  return [\n     {\n       json: {\n         results: 0,\n       }\n      }\n  ]\n}\nreturn [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];\n"
      },
      "name": "Count the number of cosmetics we got",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2840,
        540
      ],
      "id": "0a176d7a-d107-4233-8d0e-699206fb4b80"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Sort cosmetics by id from newest to oldest\"].json[\"id\"]}}",
              "operation": "larger"
            },
            {
              "value1": "={{$node[\"Sort cosmetics by id from newest to oldest\"].json[\"id\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Do we have cosmetic data? It should has an id and id should be > 0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3060,
        440
      ],
      "id": "d30db042-1de6-4322-aa3f-ed8ca36bddee"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "One image at a time - to not hit API limits",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        3280,
        360
      ],
      "notesInFlow": true,
      "id": "f1c8d683-8b02-4994-b202-ded3a29dacbe",
      "notes": "note 1\nnote 2\nnote 3\nnote 4\nnote 5"
    },
    {
      "parameters": {
        "command": "=cd /home/pi/pngsonly && md5sum {{$json[\"id\"]}}.png | awk '{split($0,a); print a[1];}'"
      },
      "name": "Calculate md5sum hash of stored PNG",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3500,
        420
      ],
      "id": "b0e00c4a-50ea-49ea-96c4-55a49b1b70fb"
    },
    {
      "parameters": {
        "amount": 0.1,
        "unit": "seconds"
      },
      "name": "Arbitrary throttle -- wait 1 sec ",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3660,
        420
      ],
      "webhookId": "9fac7566-5558-483c-98e9-dace48b3eaab",
      "id": "a8fb22e8-3cd4-462f-bdc2-3dbd81906455"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"stdout\"]}}",
              "value2": "={{$node[\"One image at a time - to not hit API limits\"].json[\"md5\"]}}"
            }
          ]
        }
      },
      "name": "Do md5sums match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3820,
        420
      ],
      "id": "26c9603d-87f0-4f22-b74f-dd24407baf56"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Add a new field called 'myNewField' to the JSON of the item\nitem.animatedCosmetic = item.size.width > item.size.height;\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn item;"
      },
      "name": "Is cosmetic's width larger than its height? (Means it should be converted to GIF)",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        4600,
        400
      ],
      "id": "ade2d9ec-1992-412a-9568-923a6b95a047"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sudo mkdir /home/pi/dunkbin/cosmetics/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}"
      },
      "name": "Create directory cosmetics",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5020,
        300
      ],
      "id": "dfbcd121-dde7-428d-ad61-f63160097a56"
    },
    {
      "parameters": {},
      "name": "Do nothing with broken cosmetics",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3280,
        560
      ],
      "id": "53563e18-e556-4b93-8bf2-a4ed7cda07ee"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd /home/pi/pngsonly && sudo touch {{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png && sudo rm -f /home/pi/pngsonly/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png && cd /home/pi && sudo mkdir /home/pi/TMP/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}} && cd /home/pi && sudo wget https://dunkbin.com/img/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png -P /home/pi/TMP/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}} && sudo cp /home/pi/TMP/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png /home/pi/pngsonly"
      },
      "name": "Download PNG using wget",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4040,
        520
      ],
      "id": "caaf3afd-b222-4190-862d-2a2645e242ec"
    },
    {
      "parameters": {
        "filePath": "=/home/pi/pngsonly/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png"
      },
      "name": "Read Binary File (Access image)",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        4240,
        400
      ],
      "id": "c303ec2a-5c9e-44e4-af38-56cb460b543c"
    },
    {
      "parameters": {
        "operation": "information",
        "dataPropertyName": "={{$node[\"Read Binary File (Access image)\"].parameter[\"dataPropertyName\"]}}"
      },
      "name": "Get image info (Statistical info of the image)",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        4420,
        400
      ],
      "id": "938427e2-da45-464e-b33c-77f7fdba6c1b"
    },
    {
      "parameters": {
        "content": "Non-removable starting node, it's not used since we scheduled flow execution using cron node",
        "height": 280,
        "width": 160
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        20
      ],
      "id": "7e0a0b5e-b73b-44a4-b682-e75bb7fdcafa"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n## Animated images flow",
        "height": 220,
        "width": 1040
      },
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4980,
        500
      ],
      "id": "461af196-9f3d-4d1c-96e6-c0150d104a2e"
    },
    {
      "parameters": {
        "content": "\n## Static images flow",
        "height": 220,
        "width": 720
      },
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4980,
        240
      ],
      "id": "6c92912e-5dda-45a8-b1c8-618fb5c5d7d3"
    },
    {
      "parameters": {
        "content": "We execute this workflow daily at 07:30 am MSK",
        "height": 220,
        "width": 160
      },
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        360
      ],
      "id": "9c9f339c-cef7-4fe7-9932-cc2a957f96fc"
    },
    {
      "parameters": {
        "content": "## Consume API -- receive data from dunkbin once",
        "height": 340,
        "width": 820
      },
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2380,
        360
      ],
      "id": "a7a01698-6658-4e39-92a6-2b2af0d02f56"
    },
    {
      "parameters": {
        "content": "Cleanup and prepare empty directories",
        "height": 240,
        "width": 180
      },
      "name": "Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2180,
        360
      ],
      "id": "37f87a09-1628-4d2a-9456-7017eaf9c52d"
    },
    {
      "parameters": {
        "content": "Arbitrary looping one image at a time to not throttle requests",
        "height": 260,
        "width": 220
      },
      "name": "Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3220,
        280
      ],
      "id": "8250b3f4-9d94-4722-8508-96a46edd5b07"
    },
    {
      "parameters": {
        "content": "## Get information about the image by reading its data",
        "height": 280,
        "width": 520
      },
      "name": "Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4220,
        300
      ],
      "id": "c533c409-8830-445d-bd61-ad48d7a9d8ed"
    },
    {
      "parameters": {
        "content": "## Check if we need to re-download the image",
        "height": 280,
        "width": 480
      },
      "name": "Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3480,
        320
      ],
      "id": "0aa54649-cad8-4105-b95f-823eb89d19ef"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sudo cp /home/pi/pngsonly/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png /home/pi/git/dunkbin-stats-images/public/img/"
      },
      "name": "Copy image to the repo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5380,
        300
      ],
      "id": "4f4ce27a-1fd1-4c7f-b98a-9614c8a2edee"
    },
    {
      "parameters": {
        "operation": "add",
        "repositoryPath": "/home/pi/git/dunkbin-stats-images",
        "pathsToAdd": "=public/img/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png"
      },
      "name": "Git add the copied image",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        5560,
        300
      ],
      "id": "bdf555e5-f132-4194-9b85-023b6d057974"
    },
    {
      "parameters": {
        "operation": "add",
        "repositoryPath": "/home/pi/git/dunkbin-stats-images",
        "pathsToAdd": "=public/img/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.gif"
      },
      "name": "Git add the copied image1",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        5900,
        520
      ],
      "id": "3c2a4096-4a30-47fa-b669-e41a617e265c"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sudo mkdir /home/pi/dunkbin/cosmetics/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}} && cd /home/pi/dunkbin/cosmetics/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}} && sudo cp /home/pi/pngsonly/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.png /home/pi/dunkbin/cosmetics/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}"
      },
      "name": "Create directory cosmetics 2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5020,
        520
      ],
      "id": "905345a8-c810-4bb4-94f5-6e1f1152ae69"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd /home/pi/dunkbin/gifs/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}} && sudo sh /home/pi/rename_cosmetics.sh"
      },
      "name": "Rename GIF frames using .sh script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5380,
        520
      ],
      "id": "98bd9aa5-3d4f-450a-bceb-872ef039f678"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sudo convert /home/pi/dunkbin/gifs/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}/*.png -set dispose 'background' -delay {{$node[\"One image at a time - to not hit API limits\"].json[\"delay\"]}} -loop 0 +dither -alpha background /home/pi/dunkbin/cosmetics/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.gif"
      },
      "name": "Assemble GIF from its frames using convert command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5560,
        520
      ],
      "id": "f4b8ffd5-6329-47d8-8a41-9159cc6ff57e"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sudo cp /home/pi/dunkbin/cosmetics/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.gif /home/pi/git/dunkbin-stats-images/public/img/{{$node[\"One image at a time - to not hit API limits\"].json[\"id\"]}}.gif"
      },
      "name": "Copy GIF to the repo directory",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5740,
        520
      ],
      "id": "d45d58a3-a2aa-4848-944a-7de7115cfc0f"
    },
    {
      "parameters": {
        "command": "cd /home/pi/git/dunkbin-stats-images && git config --global user.email \"itswuote@gmail.com\" && git config --global user.name \"WUOTE\" && git push -u origin main && git commit -m \"Add images\" && git push"
      },
      "name": "Set user to WUOTE and push to github",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        6120,
        580
      ],
      "id": "9658345e-f57a-4687-ba3d-378881ad1f00",
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Is the cosmetic's image static (one frame)?": {
      "main": [
        [
          {
            "node": "Create directory cosmetics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create directory cosmetics 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy PNG without altering": {
      "main": [
        [
          {
            "node": "Copy image to the repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save png frames": {
      "main": [
        [
          {
            "node": "Rename GIF frames using .sh script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consume Cosmetics API": {
      "main": [
        [
          {
            "node": "Sort cosmetics by id from newest to oldest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Run .sh scripts to cleanup PNG directory and make final dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run .sh scripts to cleanup PNG directory and make final dir": {
      "main": [
        [
          {
            "node": "Consume Cosmetics API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort cosmetics by id from newest to oldest": {
      "main": [
        [
          {
            "node": "Count the number of cosmetics we got",
            "type": "main",
            "index": 0
          },
          {
            "node": "Do we have cosmetic data? It should has an id and id should be > 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count the number of cosmetics we got": {
      "main": [
        [
          {
            "node": "Do we have cosmetic data? It should has an id and id should be > 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do we have cosmetic data? It should has an id and id should be > 0": {
      "main": [
        [
          {
            "node": "One image at a time - to not hit API limits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Do nothing with broken cosmetics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "One image at a time - to not hit API limits": {
      "main": [
        [
          {
            "node": "Calculate md5sum hash of stored PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate md5sum hash of stored PNG": {
      "main": [
        [
          {
            "node": "Arbitrary throttle -- wait 1 sec ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arbitrary throttle -- wait 1 sec ": {
      "main": [
        [
          {
            "node": "Do md5sums match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do md5sums match?": {
      "main": [
        [
          {
            "node": "Read Binary File (Access image)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PNG using wget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is cosmetic's width larger than its height? (Means it should be converted to GIF)": {
      "main": [
        [
          {
            "node": "Is the cosmetic's image static (one frame)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create directory cosmetics": {
      "main": [
        [
          {
            "node": "Copy PNG without altering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PNG using wget": {
      "main": [
        [
          {
            "node": "Read Binary File (Access image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File (Access image)": {
      "main": [
        [
          {
            "node": "Get image info (Statistical info of the image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image info (Statistical info of the image)": {
      "main": [
        [
          {
            "node": "Is cosmetic's width larger than its height? (Means it should be converted to GIF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy image to the repo": {
      "main": [
        [
          {
            "node": "Git add the copied image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git add the copied image": {
      "main": [
        [
          {
            "node": "Set user to WUOTE and push to github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git add the copied image1": {
      "main": [
        [
          {
            "node": "Set user to WUOTE and push to github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create directory cosmetics 2": {
      "main": [
        [
          {
            "node": "save png frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename GIF frames using .sh script": {
      "main": [
        [
          {
            "node": "Assemble GIF from its frames using convert command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble GIF from its frames using convert command": {
      "main": [
        [
          {
            "node": "Copy GIF to the repo directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy GIF to the repo directory": {
      "main": [
        [
          {
            "node": "Git add the copied image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set user to WUOTE and push to github": {
      "main": [
        [
          {
            "node": "One image at a time - to not hit API limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "Europe/Kaliningrad",
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": true
  },
  "id": 1,
  "meta": {
    "instanceId": "6ce035f4944a3dc0ecf5a80378724f7e6d06baf2990296c61674839ca285de35"
  },
  "tags": [
    {
      "id": "1",
      "name": "dunkbin",
      "createdAt": "2022-06-20T21:16:34.888Z",
      "updatedAt": "2022-06-20T21:16:34.888Z"
    }
  ]
}
